<div role="tabpanel" class="tab-pane fade" id="bar">
    <h3>Bar Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade in active" id="column">
    <h3>Column Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade" id="pie">
    <h3>Pie Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade" id="line">
    <h3>Line Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade" id="ellipse">
    <h3>Ellipse Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade" id="polyline">
    <h3>Polyline Chart</h3>
</div>
<div role="tabpanel" class="tab-pane fade" id="polygon">
    <h3>Polygon Chart</h3>
</div>