<div class="jumbotron">
    <h2>Webpack Marionette Handlebars Bootstrap D3</h2>
    <p>
        This is an example of using Webpack Module loader implementing a MarionetteJS Single Page Application.
    </p>
    <p>Styling is via Bootstrap leveraging the bootstrap-sass-loader plugin.</p>
    <h3><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Glypicons work!<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h3>
</div>

<div id="nav">
    <nav class="navbar navbar-default navbar-static">
        <div>
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
            </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" role="tablist" id="nav-tabs">
                    <!-- Loop over each file and present a navigation link to activate the tab.  -->
                    <!--<li role="presentation">
                        <a href="#bar" aria-controls="bar" role="tab" data-toggle="tab" class="active">Bar Chart</a>
                    </li>
                    <li role="presentation">
                        <a href="#column" aria-controls="column" role="tab" data-toggle="tab">Column Chart</a>
                        </li>
                    <li role="presentation">
                        <a href="#pie" aria-controls="pie" role="tab" data-toggle="tab">Pie Chart</a>
                    </li>
                    <li role="presentation">
                        <a href="#line" aria-controls="line" role="tab" data-toggle="tab">Line Chart</a>
                    </li>
                    <li role="presentation">
                        <a href="#ellipse" aria-controls="line" role="tab" data-toggle="tab">Ellipse Chart</a>
                    </li>
                    <li role="presentation">
                        <a href="#polyline" aria-controls="line" role="tab" data-toggle="tab">Polyline Chart</a>
                    </li>
                    <li role="presentation">
                        <a href="#polygon" aria-controls="line" role="tab" data-toggle="tab">Polygon Chart</a>
                    </li>-->

                </ul>
            </div>
        </div>
    </nav>
</div>


