<div class="jumbotron">
    <h2>Webpack Marionette Handlebars Bootstrap D3</h2>
    <p>
        This is an example of using Webpack Module loader implementing a MarionetteJS Single Page Application.
    </p>
    <p>Styling is via Bootstrap leveraging the bootstrap-sass-loader plugin.</p>
    <h3><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Glypicons work!<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h3>
</div>

<div id="nav">
    <nav class="navbar navbar-default navbar-static">
        <div>
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
            </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" role="tablist" id="nav-tabs"></ul>
            </div>
        </div>
    </nav>
</div>


